body {
  background-image: url("images/eyes.jpg");
  background-size: 500px 400px;
  /* background-color: rgb(89, 170, 247); */
}

h1 {
  margin: auto;
  font-family: Sans-serif;
  color: rgb(240, 201, 151);
  font-size: 23px;
  text-shadow: 0 0 10px #000000, 0 0 5px #000000;
}
