body {
  background-image: url("images/stretch.jpg");
  background-size: 500px 400px;
  /* background-color: rgb(89, 170, 247); */
}

/* center {
      margin: auto;
      text-justify: center;
    } */

h1 {
  margin: auto;
  font-family: Sans-serif;
  color: rgb(75, 150, 201);
  font-size: 23px;
  text-shadow: 0 0 10px #000000, 0 0 5px #000000;
}
