* {
  overflow: hidden;
}

body {
  background: url("images/water.jpg") repeat center center fixed;
  height: 100vh;
  width: 100vw;
}

img {
  border-radius: 10px;
  width: 350px;
}

h2 {
  font-family: fantasy;
  color: white;

  font-size: 50px;
}

h1 {
  font-family: fantasy;
  color: white;

  font-size: 72px;
}
